::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 10px  #e1e3ea;
}

.required:after {
    content:" *";
    color: red;
}
